<div class="controlling">
  <select
    class="form-control controlling-element"
    [(ngModel)]="currentAlgorythm"
  >
    <option *ngFor="let a of searchAlgorythms" [ngValue]="a">{{ a }}</option>
  </select>
  <button
    type="button"
    class="btn controlling-element"
    (click)="onStartBtn()"
    [class.btn-success]="startButtonLabel != 'Pause'"
    [class.btn-warning]="startButtonLabel == 'Pause'"
  >
    {{ startButtonLabel }}
  </button>
  <button
    type="button"
    class="btn btn-primary controlling-element"
    (click)="onResetBtn()"
  >
    Reset
  </button>
  <input
    class="btn btn-primary controlling-element"
    type="file"
    id="file"
    (change)="handleFileInput($event.target.files)"
  />
  <input
    type="range"
    id="speed"
    name="volume"
    min="0"
    step="0.1"
    max="5"
    #speedRef
    (change)="speedChange(speedRef.value)"
  />
</div>
