.controlling {
  margin-bottom: 10px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  position: fixed;
  top: 0px;
  left: 0px;
}
.controlling-element {
  margin: 5px;
  height: 90%;
}
.controlling select {
  width: auto;
}
