<!-- <div class="labyrinth">
  <cdk-virtual-scroll-viewport
    style="height: 1000px"
    itemSize="20"
    minBufferPx="1500"
    maxBufferPx="2000"
  >
    <ng-container *cdkVirtualFor="let row of labyrinth">
      <div class="labrow">
        <div
          class="labcell"
          *ngFor="let cell of row"
          [ngClass]="getStatus(cell)"
        ></div>
      </div>
    </ng-container>
  </cdk-virtual-scroll-viewport>
</div> -->

<div class="labyrinth">
  <div class="labrow" *ngFor="let row of labyrinth">
    <div
      class="labcell"
      *ngFor="let cell of row"
      [ngClass]="getStatus(cell)"
    ></div>
  </div>
</div>
