.labyrinth {
  table-layout: fixed;
  margin: 10px;
  margin-top: 60px;
  white-space: nowrap;
}

.labrow {
  height: 10px;
}

.labcell {
  display: inline-block;
  width: 10px;
  height: 10px;
}

.Opened {
  background-color: lightblue;
}
.Closed {
  background-color: rgb(91, 178, 207);
}
.Path {
  background-color: lightgreen;
}
.End {
  background-color: rgb(0, 255, 0);
}
.Start {
  background-color: red;
}
.Empty {
  background-color: rgb(129, 129, 129);
}
.Obstacle {
  background-color: rgb(49, 49, 49);
}
